/*your custom css goes here*/
:root{
    --primary: #f2a51f;
    --hov-primary: #f2a51f;
    --soft-primary: rgba(230,46,4,0.15);
}

html,
body{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    max-width: 100%;
    overflow-x: hidden;
}

/* .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
} */

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.img-box {
    width: 220px;     
    height: 180px;
    margin-left: -12%;
}

.responsive-img {
    max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.thumbnail-box {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
    width: 50px;     
    height: 50px;
}

.thumbnail-img {
    max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.product-img-box {
    display: flex;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
}

.product-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.img-container{
    display: flex;
    width: 300px;     
    height: 200px;
}

.img-admin {
    height: 100%;
    width: auto;
}

.btn-product-cart {
	height: 40px;
	width: 170px;
	/* box-shadow: -2px 6px 5px 6px #ffefce; */
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #f90;
	padding: 0 10px;
	color: #fff;
	text-transform: capitalize;
}

.btn-cart {
    text-align: left;
    font-weight: 700;
}

.btn-product-call {
	width: 40px;
	height: 40px;
	box-shadow: 2px 2px 8px 1px #d3c9b2;
	border-radius: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
    display: flex;
    justify-content: center;
}

.btn-call{
    position: absolute; 
    top: 8px;
    right: 8px;
    font-weight: 700;
}

.btn-call-details{
    /* position: absolute;
    top: 8px;
    right: 35px; */
    font-weight: 700;
}
/* .float{
	position:fixed;
    width:60px;
	height:60px;
	bottom:500px;
	right:10px;
	box-shadow: 2px 2px 3px #999;
} */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	
}

.dropdown-toggle {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
}

.dropdown-menu{
    background-color: #000;
    border: none;
    padding-left: 40px;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: capitalize;
}

.dropdown a{
    color: #fff;
}

.position-relative{
    display: flex;
    justify-content: center;
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    opacity:0.9;
    z-index: 1040;
    background-color: #141423;
    width: 200px;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.gutters-5 > .col,
.gutters-5 > [class*="col-"] {
    padding-right: 2px;
    padding-left: 2px;
}
@media only screen and (min-width: 768px) {
    .modal-card{
        width:300px;
        margin-left: -50%;
    
    }
    #homepage .btn-product-call {   
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        
    }
}