
.tab-text{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 16px;
    color: black;
}
.tabtext{
    border-bottom: #f90 solid;
    border-width: 2px;
    cursor: pointer;
    color:#f90;
    font-weight: 500;
    font-size: 14px;
    /* margin-bottom:0%; */
    
}


/* .tabtext:after{
    font-family: "Material Icons";
 
}
.tabtext:after{
    content: "\e5cc";
  
 }
.tabtexti:before{
    font-family: "Material Icons";
 
}
.tabtexti:before{
    content: "\e5cb";
 } */

.selected {
    font-weight: 700;
    font-size: 16px;
    color: #f90;

}
.select {
    /* border-radius: 0%; */
    background-color: #f90;
    border: #f90;
    margin-bottom:0%;
    font-size: 15px;
    font-weight: bold;
    /* border-bottom: #f90 solid; */
    /* border-width: 2px; */
    
}
.tab{
    border: none;
   border-right:gray solid; 
   border-bottom: gray solid; 
   border-width: thin;
   font-weight: 600;
   font-size: 16px;
   padding-bottom: 16px;    
}
/* .tablist{
    border-bottom: #f90 solid;
} */
.nav-custom .hover{
    background-color: blue;
}
.navbar-nav > .active > a {
    color: aqua;
    background-color: chartreuse;    
  }
  .navbar-nav > .active > a {
    color: red

  }