
.tab-text{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 16px;
    color: black;
}
.tabtext{
    /* border: none; */
    border-bottom: #f90 solid;
    border-width: thin;
    border-radius: 0%;
    cursor: pointer;
    color:#f90;
    font-weight: 500;
    font-size: 14px;
    
}

.selected {
    font-weight: 700;
    font-size: 16px;
    color: #f90;

}
.select {
    border-radius: 0%;
    border: #f90;
    font-size: 15px;
    font-weight: bold;
    border-bottom: #f90 solid;
    border-width: 2px;
}
.tab{
    border: none;
   border-right:gray solid; 
   border-bottom: gray solid; 
   border-width: thin;
   font-weight: 600;
   font-size: 16px;
   padding-bottom: 16px;    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .categories-container{
        margin-top: -10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .categories-container{
        margin-top: -10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .categories-container{
    margin-top: -6%;
}}

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
    .categories-container{
        margin-top: -620px;
    
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
