
.tab-text{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 16px;
    color: black;
}
.tabtext{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: gray solid; 
    border-width: thin;
    
}

.selected {
    font-weight: 700;
    font-size: 16px;
    color: #f90;

}
.select {
    font-weight: 800;
    font-size: 18px;
    border-bottom: 3px solid black;
    color: #f90;  
    line-height: 1.8;
}
.tab{
    border: none;
   border-right:gray solid; 
   border-bottom: gray solid; 
   border-width: thin;
   font-weight: 600;
   font-size: 16px;
   padding-bottom: 16px;
 
   
}
