.scroll{
    position:fixed;
	z-index: 1000;
	bottom:80px;
	left:0;
	color:#FFF;
	width:"100%";
	right:0;
}
.extra{
	padding-top: 20%;
}
.buy-now{
	width: 180px;
	height: 50%;
}
.add-to-cart{
	width: 120px;
	height: 50%;
}