@mixin flexCenter(){
    display:flex;
    align-items:center;
    justify-content: center;
}

.mob-nav {
    position: fixed;
    top: 0;
    bottom: 61px;
    z-index: 1040;
    background-color: #131821;
    opacity:0.9;
    width: 100%;
    max-width: 200px;
    overflow-y: scroll;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(51,51,51,0.5);
    will-change: transform;
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.6s ease-in-out;

    .tab-content {
        padding: 0;
        margin: 0 0 2.5rem;
    }

    .mobile-nav {
        padding: 0;
        margin: 0 0 2.5rem;
    }
    .mobile-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        height:auto;

        .dropdown {
            display: block !important;
            position: relative;

            .has-dropdown {
                position: relative;
                display: block;
                padding: 1rem 4.5rem 1rem 2rem;
                color: #fff;
                border-bottom: 0.1rem solid rgba(255,255,255,0.08);

                span{
                    font-size: 11px;
                    font-weight: 500;
                }
            }
            .drop-down-item{
                display:block;
                position: relative;
                border-bottom:0px;
                li{
                                
                    font-size:12px;
                    color:#fff;
                    margin-left:5px;
                }
                
            }
        }
    }
}

.mobile-menu-wrapper {
    position: relative;
    padding: 4.2rem 0;
}
.mobile-menu-close {
    @include flexCenter();
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .7rem;
    right: 1rem;
    padding: 0;
    z-index: 9;
    cursor: pointer;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    transition: color .35s;
}
.mmenu-btn {
    @include flexCenter();
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    margin-top: -1.5rem;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.35s;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }

  .dropdown-container {
    background-color: #262626;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }